<%- include('partials/header', {title: 'EJS Notes App'}) %>
<h2><%= note.title %></h2>
<p>[<%= note.tags.join(', ') %>]</p>
<a href="/<%= note.id %>/edit">Edit</a>
<a href="/<%= note.id %>/delete" onclick="return confirm('Are you sure you want to delete this note?');">Delete</a>
<p><%= note.content %></p>

<%- include('partials/footer') %>